name: Deploy to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up JDK   
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Create application.yml
      run: |
        mkdir -p src/main/resources
        echo "${{ secrets.APPLICATION_YML }}" > src/main/resources/application.yml
        
    - name: Grant execute permission for gradlew    
      run: chmod +x gradlew
        
    - name: Build with Gradle   
      run: ./gradlew build -x test
      
    - name: Build and Push Docker Image
      run: |
        docker build -t mediko-backend-image .
        docker save mediko-backend-image > mediko-backend-image.tar
        
    - name: Copy Docker image to EC2
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        source: "mediko-backend-image.tar"
        target: "/home/${{ secrets.EC2_USERNAME }}"
        
    - name: Deploy to EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          # 기존 8080 컨테이너가 있다면 중지 및 삭제
          docker stop mediko-backend-container || true
          docker rm mediko-backend-container || true
          # 이미지 로드 및 8080 포트로 실행
          docker load < mediko-backend-image.tar
          docker run -d -p 8080:8080 --name mediko-backend-container mediko-backend-image
